<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Messaging System API</title>
        <style>
            body {
                font-family: monospace;
                background-color: #000080;
                color: #b3ffff;
            }

            a {
                color: #b3ffff;
            }

            a:hover {
                color: white;
            }
        </style>
    </head>
    <body>
        <h1> Welcome to the Messaging System API</h1>
        <p> The messaging system API allows developers to use the available database and software in order to get, read and delete messages.</p>
        <a href="https://documenter.getpostman.com/view/11476012/Szt7AAjA?version=latest"> Documentation</a><br>
        <a href="https://github.com/meir412/messaging_system"> Repository</a>
    </body>
</html>